/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: crimson;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: crimson;
  text-shadow: none;
  color: #ffffff;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/*============================
        Building Block
  ============================*/

.g-container {
  width: 90%;
  display: block;
  margin: 5% auto;
}

.g-container-main {
  display: flex;
  //flex-direction: row-reverse;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
  @media all and (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.g-co-left-block {
  flex-basis: 40%;

  img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

.g-co-right-block {
  flex-basis: 60%;
  flex-grow: 1;
}

.g-co-top-part {
  h1 {
    text-transform: capitalize;
    font-size: 3rem;
    color: #484848;
    margin-bottom: 0.5rem;
    line-height: 1.2em;
  }

  p {
    font-size: 1.2rem;

  }
}

.g-co-bottom-part {
  display: flex;
  gap: 30px;
  @media all and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }
}

.g-co-bottom-left-part, .g-co-bottom-right-part {
  h2 {
    font-size: 1.8rem;
    line-height: 1.2em;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}


/**********************************
              Login Page
 ***********************************/

.container {
  max-width: 700px;
  width: 100%;
  padding: 0 1rem;
  display: block;
  margin: 5% auto;
  font: 1em "Fira sans", sans-serif;
  overflow: hidden;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

@media all and (max-width: 768px) {
  .container-main {
    flex-direction: column;
    gap: 20px;
  }
}

.co-top-block {
  display: flex;
  flex-direction: column;

}

.co-top-block h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: .1em;
}

.co-top-block p {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin: 1rem auto;
}


.co-top-button {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

@media all and (max-width: 768px) {
  .co-top-button {
    flex-direction: column;
    gap: 20px;
  }
}

.co-top-button a {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  border: 0.3px solid #ededed;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 4px #d9d8d7;
  border-radius: 5px;
  font-size: 1.1em;
}

.co-bottom-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}


.co-bottom-input label {
  display: flex;
  justify-content: space-between;
}

.co-bottom-input form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.co-bottom-input input {
  padding-left: 10px;
  height: 40px;
  border: thin solid rgba(224, 224, 224, 0.8);
  background-color: rgba(224, 224, 224, 0.5);
  border-radius: 8px;
}

.co-bottom-button {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.co-bottom-button button {
  margin-top: 1.5rem;
  width: 100%;
  border: none;
  color: white;
  background-color: #4432e6;
  font-size: 1.5rem;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(68, 50, 230, .3);
  padding: 0.5rem;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.co-bottom-block p {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin: 0.5rem auto;
}

/*============================
         Footer => Converted scss
  ============================*/
$color_1: rgb(145, 145, 145);
$color_2: white;
$color_3: rgb(163, 163, 163);
$color_4: #ffffff;
$background-color_1: #00acee;
$background-color_2: #FF0000;
$background-color_3: #3b5998;
$background-color_4: rgb(35, 39, 235);
$background-color_5: #dddddd;
$background-color_6: rgb(233, 233, 233);
$background-color_7: white;

.f-container {
  width: 90%;
  margin: 3% auto;
  display: block;
  font: 1em "Gill Sans", sans-serif;

  li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 0.95em;
    color: $color_1;
  }
}

p {
  list-style: none;
  margin-bottom: 10px;
  font-size: 0.95em;
  color: $color_1;
}

ul.connect {
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    > span {
      transition: all 0.4s ease-in-out;
    }

    &:first-child {
      &:hover {
        > span {
          background: linear-gradient(#962fbf, #d62976, #feda75);

          svg {
            fill: white;
          }
        }
      }
    }

    &:nth-child(2) {
      &:hover {
        > span {
          background-color: $background-color_1;

          svg {
            fill: white;
          }
        }
      }
    }

    &:nth-child(3) {
      &:hover {
        > span {
          background-color: $background-color_2;

          svg {
            fill: white;
          }
        }
      }
    }

    &:last-child {
      &:hover {
        > span {
          background-color: $background-color_3;

          svg {
            fill: white;
          }
        }
      }
    }
  }
}

.f-container-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3%;
  flex-wrap: wrap;
  overflow: hidden;

  h4 {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
}

.f-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;

  h1 {
    font-size: 2.5rem;
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  @media all and (max-width: 768px) {
    h1{
      font-size: 1.8rem;
    }
  }
}

.f-top-button {
  a {
    background-color: $background-color_4;
    color: $color_2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(35, 39, 235, 0.5);
  }
}

.f-middle-block {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  justify-content: space-between;
  margin: 3% 0;
}

.f-middle-block-one {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.f-middle-block-two {
  table {
    border-collapse: separate;
    border-spacing: 0 8px;
  }

  td {
    width: 80px;
    font-size: 15px;
    white-space: nowrap;
    color: $color_1;
  }
}

.f-middle-block-three {
  span {
    transition: all 0.4s ease-in-out;
    display: grid;
    place-items: center;
    border: 5px;
    background-color: $background-color_5;
    border-radius: 50%;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
}

.f-middle-block-four {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    width: 100%;
  }

  input {
    border: 1px solid rgb(187, 187, 187);
    background-color: $background-color_6;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;

    &:focus {
      outline: 2px solid darkolivegreen;
    }

    &::placeholder {
      color: $color_3;
    }
  }

  button {
    padding: 0.5rem;
    background-color: $background-color_7;
    border: thin solid rgba(224, 224, 224, 0.8);
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(196, 196, 196, 0.5);
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: $background-color_4;
      color: $color_4;
    }
  }
}

.f-bottom-block {
  font-size: 12px;
  margin-top: -15px;
}

@media all and (max-width: 768px) {
  .f-container-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .f-top-block {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .f-middle-block-four {
    order: -3;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .f-middle-block {
    gap: 3rem;
  }
}






















