body{
    background-color: hsl(158, 36%, 37%);
    background-color: hsl(30, 38%, 92%);
    background-color: hsl(212, 21%, 14%);
    background-color: hsl(228, 12%, 48%);
    background-color: hsl(0, 0%, 100%);

}