.f-container {
  width: 90%;
  margin: 3% auto;
  display: block;
  font: 1em "Gill Sans", sans-serif;
}

.f-container li, p {
  list-style: none;
  margin-bottom: 10px;
  font-size: 0.95em;
  color: rgb(145, 145, 145);
}
ul.connect li {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

ul.connect li:first-child:hover > span {
  background: linear-gradient(#962fbf, #d62976, #feda75);
}

ul.connect li:first-child:hover > span svg {
  fill: white;
}

ul.connect li:nth-child(2):hover > span {
    background-color: #00acee;
}
  
ul.connect li:nth-child(2):hover > span svg {
    fill: white;
}


ul.connect li:nth-child(3):hover > span {
    background-color: #FF0000;
}
  
ul.connect li:nth-child(3):hover > span svg {
    fill: white;
}

ul.connect li:last-child:hover > span {
    background-color: #3b5998;
  }
  
  ul.connect li:last-child:hover > span svg {
    fill: white;
  }

.f-container-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3%;
  flex-wrap: wrap;
  overflow: hidden;
}

@media all and (max-width:768px){
    .f-container-main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.f-container-main h4 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.f-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

@media all and (max-width:768px){
    .f-top-block{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}

.f-top-block h1 {
  font-size: 2.5rem;
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
  flex: 1;

}

.f-top-button a {
  background-color: rgb(35, 39, 235);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.2em;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(35, 39, 235, 0.5);
}

.f-middle-block {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  justify-content: space-between;
  margin: 3% 0;
}



.f-middle-block-one {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.f-middle-block-two table{
    border-collapse: separate;
    border-spacing: 0 8px;
}

.f-middle-block-two td {
  width: 80px;
  font-size: 15px;
  white-space: nowrap;
  color: rgb(145, 145, 145);
}

.f-middle-block-three span {
  transition: all 0.4s ease-in-out;
  display: grid;
  place-items: center;
  border: 5px;
  background-color: #dddddd;
  border-radius: 50%;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 5px;
}


.f-middle-block-four{
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

@media all and (max-width:768px){
    .f-middle-block-four{
        order: -3;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}

.f-middle-block-four form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.f-middle-block-four input {
  border: 0.5px solid rgb(187, 187, 187);
  background-color: rgb(233, 233, 233);
  padding: 0.5rem;
  border-radius: 5px;
}
::placeholder {
  color: rgb(163, 163, 163);
}

.f-middle-block-four button {
  padding: 0.45rem;
  background-color: white;
  border: thin solid rgba(224, 224, 224, 0.8);
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(196, 196, 196, 0.5);
}

.f-bottom-block{
    font-size: 12px;
    margin-top: -15px;
}