.container {
  width: 90%;
  display: block;
  margin: 5% auto;
}

.container-main {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 768px) {
  .container-main {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.co-left-block {
  flex-basis: 40%;
}
.co-left-block img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.co-right-block {
  flex-basis: 60%;
  flex-grow: 1;
}

.co-top-part h1 {
  text-transform: capitalize;
  font-size: 3rem;
  color: #484848;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
}
.co-top-part p {
  font-size: 1.2rem;
}

.co-bottom-part {
  display: flex;
  gap: 30px;
}
@media all and (max-width: 768px) {
  .co-bottom-part {
    flex-direction: column;
    gap: 10px;
  }
}

.co-bottom-left-part h2, .co-bottom-right-part h2 {
  font-size: 1.8rem;
  line-height: 1.2em;
  margin-bottom: 0.5rem;
}
.co-bottom-left-part p, .co-bottom-right-part p {
  font-size: 1.2rem;
}
