/*------------------------*/
/*       Components       */
/*------------------------*/

.large-button{
  font-size: 2rem;
  position: relative;
  display: inline-grid;
  z-index: 1;
  place-items: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 0 2em;
  aspect-ratio: 1;

  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    background: hsl(var(--clr-white)/.15);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 500ms ease-in-out;
  }

  &:hover::after,
  &:focus::after{
    opacity: 1;
    transform: scale(1.5);
  }
}


.underline-indicators > li,
.underline-indicators > button {
  padding: var(--underline-gap, 1em) 0;
  border: 0;
  cursor: pointer;
  border-bottom: .2rem solid hsl(var(--clr-white) / 0);

  &:hover,
  &:focus{
    border-color: hsl(var(--clr-white) / .5);
  }

  &.active, &[aria-selected="true"]{
    color: hsl(var(--clr-white) / 1);
    border-color: hsl(var(--clr-white) / 1);
  }
}

.tab-list{
  --gap: 2.5rem;
}

.dot-indicators > button{
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl(var(--clr-white) / .25);

  &:hover,
  &:focus{
    background-color: hsl(var(--clr-white) / .5);
  }

  &[aria-selected="true"]{
    background-color: hsl(var(--clr-white) / 1);
  }
}


.numbered-indicators > button{
  width: 20%;
  cursor: pointer;
  border: 1px solid hsl(var(--clr-white) / .25);
  aspect-ratio: 1;
  border-radius: 50%;
  padding: .5em;
  background-color: hsl(var(--clr-dark) / 1);
  color: hsl(var(--clr-white));


  &:hover,
  &:focus{
    border: 1px solid hsl(var(--clr-white) / 1);
    background-color: hsl(var(--clr-dark) / 1);
  }

  &[aria-selected="true"]{
    background-color: hsl(var(--clr-white) / 1);
    color: hsl(var(--clr-dark));
  }
}
