@import "config";

.homepage{
  padding: 20px;
  display: grid;
  height: 100%;
  max-width: 1440px;
  width: 80%;
  grid-gap: 25px;
  grid-row-gap: 30px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 42% 27% 25%;
  font-family: Inter;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.logo{
  margin: auto 0;
}

.nav-links{
  grid-column: span 2;
  color: $dark-grayish-blue;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
  }

  li {
    float: left;
    //padding: 1rem;
    padding: 16px 0px 16px 32px;
  }
}

.main-image{
  grid-column: span 2;
}

.main-side{
  grid-row: span 2;
  background-color: $very-dark-blue;
  padding: 20px 25px;

  h2{
    font-size: 2.5rem;
    color: $soft-orange;
    margin-top: 10px;
  }

  h4{
    color: $off-white;
    font-size: 1em;
    //margin: 1.5em 0;
  }

  p{
    color: $grayish-blue;
    font-size: 14px;
    margin: 1.5em 0;
  }

  hr{
    margin: 25px 0;
  }

}

.headline{
  h1{
    font-size: 3.5rem;
    font-family: InterExtraBold;
    color: $very-dark-blue;
    margin: 0;
    line-height: 1em;
  }
  padding-right: 20px;
}

.headline-blurb{

  p{
    color: $dark-grayish-blue;
    font-size: 14px;
    line-height: 1.6em;
    word-spacing: 2px;
    margin: 0 0 50px 0;
  }
  a{
    //font-family: InterBold;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    color: $off-white;
    background-color: $soft-red;
    padding: 13px 22px;
  }
}

.footers{
  padding: 20px 0;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@import "footer";
