@font-face {
  font-family: "Inter";
  src: url("../fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "InterBold";
  src: url("../fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "InterExtraBold";
  src: url("../fonts/static/Inter-ExtraBold.ttf");
  font-weight: 800;
}
* {
  box-sizing: border-box;
  padding: 0;
}

.homepage {
  padding: 20px;
  display: grid;
  height: 100%;
  max-width: 1440px;
  width: 80%;
  grid-gap: 25px;
  grid-row-gap: 30px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 42% 27% 25%;
  font-family: Inter;
}
.homepage img {
  width: 100%;
  object-fit: cover;
}

.logo {
  margin: auto 0;
}

.nav-links {
  grid-column: span 2;
}
.nav-links ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav-links li {
  float: left;
  padding: 16px 0px 16px 35px;
}
.nav-links a {
  text-decoration: none;
  color: hsl(236deg, 13%, 42%);
}
.nav-links a:hover {
  color: hsl(5deg, 85%, 63%);
}

.main-image {
  grid-column: span 2;
}

.main-side {
  grid-row: span 2;
  background-color: hsl(240deg, 100%, 5%);
  padding: 20px 25px;
  height: 97%;
}
.main-side h2 {
  font-size: 2.5rem;
  color: hsl(35deg, 77%, 62%);
  margin-top: 10px;
}
.main-side h4 {
  font-size: 1em;
  margin: 1em 0;
}
.main-side p {
  color: hsl(233deg, 8%, 79%);
  font-size: 14px;
  margin: 1em 0;
  line-height: 2em;
}
.main-side hr {
  height: 1px;
  background-color: hsl(236deg, 13%, 42%);
  border: none;
  margin: 1em 0;
}
.main-side a {
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
}
.main-side a:hover {
  color: hsl(35deg, 77%, 62%);
}

.headline {
  padding-right: 20px;
}
.headline h1 {
  font-size: 3.5rem;
  font-family: InterExtraBold;
  color: hsl(240deg, 100%, 5%);
  margin: 0;
  line-height: 1em;
}

.headline-blurb p {
  color: hsl(236deg, 13%, 42%);
  font-size: 14px;
  line-height: 1.6em;
  word-spacing: 2px;
  margin-bottom: 42px;
}
.headline-blurb a {
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
  background-color: hsl(5deg, 85%, 63%);
  padding: 13px 35px;
}
.headline-blurb a:hover {
  background-color: hsl(240deg, 100%, 5%);
}

.footers {
  padding: 20px 0;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.footer-item-1, .footer-item-2, .footer-item-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 30% 70%;
  font-size: 18px;
  padding-bottom: 30px;
}
.footer-item-1 .footer_text, .footer-item-2 .footer_text, .footer-item-3 .footer_text {
  padding-right: 40px;
}
.footer-item-1 .footer_text h3, .footer-item-2 .footer_text h3, .footer-item-3 .footer_text h3 {
  font-size: 2rem;
  color: hsl(233deg, 8%, 79%);
  margin: 0;
}
.footer-item-1 .footer_text h4, .footer-item-2 .footer_text h4, .footer-item-3 .footer_text h4 {
  font-size: 15px;
  font-family: InterExtraBold;
  margin-bottom: 10px;
  line-height: 1em;
}
.footer-item-1 .footer_text p, .footer-item-2 .footer_text p, .footer-item-3 .footer_text p {
  font-size: 12px;
  color: hsl(236deg, 13%, 42%);
  line-height: 1.7em;
  margin-top: 10px;
}
.footer-item-1 .footer_text a, .footer-item-2 .footer_text a, .footer-item-3 .footer_text a {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
}
.footer-item-1 .footer_text a:hover, .footer-item-2 .footer_text a:hover, .footer-item-3 .footer_text a:hover {
  color: hsl(5deg, 85%, 63%);
}

/*# sourceMappingURL=style.css.map */
