.container{
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 20% 1fr;
  grid-gap: 1rem;
  height: 100vh;
}

.sidebar{
  background-color: cornsilk;
  grid-column: span 1;
  grid-row: span 2;
}

.navbar{
  background-color: cornsilk;
  grid-column: span 1;
  grid-row: span 1;
}

.main{
  background-color: cornsilk;
  display: grid;
  grid-template-columns: 70% auto;

  .graph-and-total{
    display: grid;
    grid-template-rows: 15% auto 30%;
  }
}



