body{
  font-family: Century Gothic, sans-serif;
  background-color: cornsilk;
  margin: 0;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-rows: 12% 1fr;
  max-width: 1440px;
  height: 100%;
  max-height: 100vh;

  .nav {
    background-color: darksalmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 30px;
    color: #903919;

    .nav-items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;

      h3 {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          text-decoration: none;
          color: #903919;
        }

        svg {
          transform: scale(1.2);
        }
      }
    }
  }

  .main{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 1fr 20%;
    gap: 5px;

    .sidebar{
      height: 90vh;
      padding: 0 30px;
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      line-height: 2em;
      text-align: left;
      gap: 5px;

      &-components{
        ul{
          list-style: none;
          padding-left: 0;
          a{
            text-decoration: none;
            color: black;
            &:hover{
              color: chocolate;
            }
          }
        }
        &:not(:last-child){
          border-bottom: 1px solid lightcoral;
        }
      }
    }

    .main-middle{
      display: grid;
      grid-template-rows: 25% 1fr 40%;

      .total{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5px;

        a{
          text-decoration: none;
          color: black;
        }


        &-components {
          background-color: whitesmoke;
          //background-image: url("../../assets/shared/wave-png-9943.png");
          border: 1px solid gray;
          padding-inline: 10px;
          border-radius: 15px;
          //display: flex;
          //justify-content: space-between;

          &:hover{
            background-color: lightpink;
            transition: 400ms ease-in-out, transform 300ms ease-in-out;
            transform: scale(1.03);
          }
        }
      }
      .trend-graph{
        background-color: navajowhite;
      }
      .transactions{
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-gap: 5px;
        a{
          text-decoration: none;
          color: black;
        }
        &-component{
          background-color: rgba(49, 49, 49, 0.13);
        }
      }

    }

    .profile-analytics{
      display: grid;
      grid-template-rows: 2fr 3fr;
      row-gap:5px;
      background-color: rgba(255, 182, 193, 0.57);

      & > div{
        background: linear-gradient(to bottom right, transparent, white);
      }
    }
  }
}
